<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>タスク管理アプリケーション</title>
        <link th:href="@{/dashboard.css}" rel="stylesheet">
        <link th:href="@{/header.css}" rel="stylesheet">
    </head>

    <body class="mainHeader">
        <!-- headerのフラグメント作成⇒他のHTMLで使用できるようにする -->
	    <div th:replace="header :: Header"></div>
        <!-- <h1>タスク管理アプリケーション</h1>

        <div class="task_form">
            <h2>タスクの管理</h2>
            <form action="#" th:action="@{/list/add}" method="post">
                <label>タスク</label>
                <input name="title" type="text" required/>
                <label>詳細</label>
                <input name="title" type="text" required/>
                <label>期限</label>
                <span>
                <input name="deadline" type="date" required/>
                <input name="time" type="time" required/>
                </span>
                <label>優先度</label>
                    <select id="update_priority" name="priority">
                    <option value="高">高</option>
                    <option value="中" selected>中</option>
                    <option value="低">低</option>
                    </select>
                <input type="submit" value="登録" />
            </form>
        </div> -->

        <div class="tasklist">
            <h2>現在のタスク一覧</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th class="hidden">ID</th>
                        <th>タスク</th>
                        <th width="150px">期限</th>
                        <th width="150px">時間</th>
                        <th width="100px">優先度</th>
                        <th width="100px">状態</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${taskList}">
                        <td class="hidden" th:text="${task.id}"></td>
                        <td th:text="${task.title}"></td>
                        <td width="100px" th:text="${task.deadline}"></td>
                        <td width="100px" th:text="${task.time}"></td>
                        <td width="50px" th:text="${task.priority}"></td>
                        <td width="50px" th:text="${task.done} ? '完了': '未完了'"></td>
                        <td width="50px">
                        <button
                            type="button"
                            class="update-button"
                            th:data-id="${task.id}"
                            th:data-title="${task.title}"
                            th:data-detail="${task.detail}"
                            th:data-deadline="${task.deadline}"
                            th:data-time="${task.time}"
                            th:data-priority="${task.priority}"
                            th:data-done="${task.done}"
                            onclick="openUpdateDialog(this)"
                        >更新</button> 
                        </td>
                        <td width="50px">
                            <form action="#" th:action="@{/list/delete}" method="post">
                                <button type="submit" id="delete_button">削除</button>
                                <input type="hidden" name="id" th:value="${task.id}" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- pop -->
        <div id="TodoDialog">
            <div class="task_form">
                <form action="#" th:action="@{/list/add}" method="post">
                    <input id="add_id" name="id" type="hidden" />
                    <label>タスク</label>
                    <input id="add_title" name="title" type="text" required />
                    <label>説明</label>
                    <input id="add_detail" name="detail" type="text" required />
                    <label>期限</label>
                    <div class="deadline-inputs">
                    <input id="add_deadline" name="deadline" type="date" />
                    <input id="add_time" name="time" type="time" value="09:00"/>
                    </div>
                    <div class="priority-status">
                        <div class="field">
                        <label>優先度</label>
                            <select id="add_priority" name="priority">
                            <option value="高">高</option>
                            <option value="中" selected>中</option>
                            <option value="低">低</option>
                            </select>
                        </div>
                    </div>
                    <div class="add-button">
                        <button type="submit">登録</button>
                       <button type="button"onclick="document.getElementById('TodoDialog').style.display='none';">キャンセル</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- pop -->
        <div id="updateDialog">
            <div class="task_form">
                <form action="#" th:action="@{/list/update}" method="post">
                    <input id="update_id" name="id" type="hidden" />
                    <label>タスク</label>
                    <input id="update_title" name="title" type="text" required />
                    <label>説明</label>
                    <input id="update_detail" name="detail" type="text" required />
                    <label>期限</label>
                    <div class="deadline-inputs">
                    <input id="update_deadline" name="deadline" type="date" />
                    <input id="update_time" name="time" type="time" />
                    </div>
                    <div class="priority-status">
                        <div class="field">
                        <label>優先度</label>
                            <select id="update_priority" name="priority">
                            <option value="高">高</option>
                            <option value="中" selected>中</option>
                            <option value="低">低</option>
                            </select>
                        </div>
                        <div class="field">
                        <label>状態</label>
                            <select id="update_status" name="done">
                            <option value="false">未完了</option>
                            <option value="true">完了</option>
                            </select>
                        </div>
                    </div>
                    <div class="update-button">
                        <button type="submit">更新</button>
                        <button type="reset"  onclick="document.getElementById('updateDialog').style.display='none';">キャンセル</button>
                    </div>
                </form>
            </div>
        </div>

    <script th:src="@{/taskList.js}" defer></script>
    </body>
</html>