<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>ログイン画面</h1>
	<form action="#" th:action="@{/login}" method="post">
	    <input type="text" name="username" minlength="1" maxlength="20" placeholder="ユーザー名" required /><br>
	    <input type="password" name="password" minlength="1" maxlength="20" placeholder="パスワード" required /><br>
	    <button type="submit">ログイン</button>
	    <p th:if="${error}" th:text="${error}"></p>
	</form>
	
	<div class="nav-links">
        新規登録の方は<a th:href="@{/register}">こちら</a>
	</div>
</body>
</html>