<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク管理/ログイン</title>
<link rel="stylesheet" href="login.css" />
</head>
<body>
	<h1>タスク管理</h1>
	<form action="#" th:action="@{/login}" method="post">
	    <input type="text" name="username" minlength="1" maxlength="30" placeholder="ユーザー名" required /><br>
	    <input type="password" name="password" minlength="1" maxlength="20" placeholder="パスワード" required /><br>
	    <p th:if="${error}" th:text="${error}" class="error"></p>
		<p th:if="${msg}" th:text="${msg}" class="message"></p>
		<button type="submit">ログイン</button>
	</form>
	
	<div class="nav-links">
        新規登録の方は<a th:href="@{/register}">こちら</a>
	</div>
</body>
</html>