<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク管理/ログイン</title>
<link rel="stylesheet" href="login.css" />
</head>
<body>
	<h1>タスク管理</h1>
	<form action="#" th:action="@{/login}" method="post">
		<span class="input-label">メールアドレス</span>
		<input type="email" name="email" minlength="1" maxlength="50" placeholder="メールアドレス" required />
	    <span class="input-label">パスワード</span>
		<input type="password" name="password" minlength="1" maxlength="20" placeholder="パスワード" required /><br>
	    <p class="error" th:text="${error} ?: ''"></p>  <!--高さ確保 -->
		<p class="message" th:text="${msg} ?: ''"></p>
		<button type="submit">ログイン</button>
	</form>
	
	<div class="nav-links">
        新規登録の方は<a th:href="@{/register}">こちら</a>
	</div>
</body>
</html>