<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>新規登録画面</h1>
	<form action="#" th:action="@{/register}" th:object="${user}" method="post">
	    <input type="text" th:field="*{username}" placeholder="ユーザー名" required /><br>
	    <input type="password" th:field="*{password}" placeholder="パスワード" required /><br>
	    <input type="email" th:field="*{email}" placeholder="メールアドレス" required /><br>
	    <button type="submit">登録</button><br>
	</form>
	
	<div class="nav-links">
        <a th:href="@{/login}">戻る</a>
	</div>
</body>
</html>